    <div class="jumbotron gilette">
      <div class="container">
        <h1>Welcome to Pats Chat!</h1>
        <p>We are an open forum for fans to share their feelings on the four-time Super Bowl champs - whether you love the Patriots or hate them with the heat of a thousand suns.</p>
        <p>Feel free to peruse our list of previously inaugurated topics or start one of your own. Wicked pissah!</p>
        <% if current_user['name'] %>
          <a class="btn btn-primary btn-lg" href="/topic" role="button">Start a Topic! &raquo;</a>
        <% else %>  
          <a class="btn btn-primary btn-lg" href="/login" role="button">Start a Topic! &raquo;</a>
        <% end %>
      </div>
    </div>

    <div class="container">
      <div class="topics-header"><h1>Previous Topics</h1></div>
      <% @topics.each do |topic| %>
        <div class="row wrapper">
          <div class="voting">
            <% if current_user['name'] %>
              <a href="/upvote/<%="#{topic['id']}"%>"><button type="button" class="btn btn-success">Upvote &uarr;</button></a>
              <h4><%= "#{topic['topic_score']}" %></h4>
              <a href="/downvote/<%="#{topic['id']}"%>"><button type="button" class="btn btn-danger">Downvote &darr;</button></a>
            <% else %>
              <a href="/login"><button type="button" class="btn btn-success">Upvote &uarr;</button></a>
              <h4><%= "#{topic['topic_score']}" %></h4>
              <a href="/login"><button type="button" class="btn btn-danger">Downvote &darr;</button></a>
            <% end %>
          </div>

          <div class="topic-and-author">
            <h3 style="margin-top: 10px"><a href="/topic/<%="#{topic['id']}"%>"><%= "#{topic['topic_name']}" %></a></h3>
            <p><%= "#{topic['topic_comment']}" %></p>
            <p><strong>Posted By: </strong><%= "#{topic['name']}" %></p>
          </div>  
             
          <div class="comment-score">  
            <h4 style="margin-top: 10px">Number of Comments: <%= "#{topic['num_comments']}" %></h4>
            <p>
              <% if current_user['name'] %>
                <a class="btn btn-primary btn-lg" href="/topic/<%="#{topic['id']}"%>/comment" role="button">Post a comment! &raquo;</a>
              <% else %>
                <a class="btn btn-primary btn-lg" href="/login" role="button">Post a Comment! &raquo;</a>
              <% end %>
            </p>
          </div>  
        </div>
      <% end %>  
    </div>