<div class="jumbotron">
	<div class="container">
		<h2><%= "#{@topic['topic_name']}" %></h2>
		<p><%= "#{@topic['topic_comment']}" %></p>
    
    <p>
      <% if current_user['name'] %>
        <a href="/upvote/<%="#{@id}"%>"><button type="button" class="btn btn-success">Upvote &uarr;</button></a>
        <h4><%= "#{@topic['topic_score']}" %></h4>
        <a href="/downvote/<%="#{@id}"%>"><button type="button" class="btn btn-danger">Downvote &darr;</button></a>
      <% else %>
          <a href="/login"><button type="button" class="btn btn-success">Upvote &uarr;</button></a>
          <h4><%= "#{@topic['topic_score']}" %></h4>
          <a href="/login"><button type="button" class="btn btn-danger">Downvote &darr;</button></a>
      <% end %>  
    </p>
    </div>
</div>    
<div class="comments" style="margin-left: 10%">    
    <% if current_user['name'] %>
      <p><a class="btn btn-primary btn-lg" href="/topic/<%="#{@id}"%>/comment" role="button">Post a comment! &raquo;</a></p>
    <% else %>  
      <p><a class="btn btn-primary btn-lg" href="/login" role="button">Post a comment! &raquo;</a></p>
    <% end %>
    <h2>Number of Previous Comments: <%= "#{@topic['num_comments']}" %></h2>
    <% @comments.each do |comment| %>
    	<p><strong>Comment: </strong><%= "#{comment['comment_content']}" %></p>
    <% end %>
</div>    